<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Single Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
   <link rel="stylesheet" href="/static/css/style.css" id="theme-styles">

    <!--[if lt IE 9]>      
        <script src="/static/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    
</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="../" id="logo">
                    <img src="/static/img/logo.png" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                          
                             <li>
                                <a href="index.html">Home</a>
                            </li>
                        </ul>
                    </div>
                </nav>        

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="#">Blog</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">Bootstrap</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">HTML Template</a>
                </div>

              
{#                <div class="clean-searchbox">#}
{#                    <form action="#" method="get" accept-charset="utf-8">#}
                       
{#                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">#}
{#                         <button class="searchbutton" type="submit">#}
{#                            <i class="fa fa-search"></i>#}
{#                        </button>#}
{#                    </form>#}
{#                </div>#}
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                           
                            <div class="lead-image">
                                <img src="/static/img/single-post.jpg" alt="" class="img-responsive">
                                
                            </div>
                        </header>
                        <div class="body">
                            {% for blog in blog_list %}
                            <h1>{{ blog.title }}</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> Zhang Bin<i class="fa fa-calendar"></i>{{ blog.pub_date }}<span class="data"></span>
                            </div>
                                {% autoescape off %}
                            <text>{{ blog.content }}</text>
                                {% endautoescape %}
                        </div>
                        {% endfor %}
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3> 
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>


                    <aside class="create-comment" id="create-comment">
                        <hr>    

                        <h2><i class="fa fa-pencil"></i> Add Blog</h2>

                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" id="comment-name" placeholder="Title" class="form-control input-lg">
                                </div>
                            </div>

                            <textarea rows="10" name="message" id="comment-body" placeholder="Content" class="form-control input-lg"></textarea>

                            <div class="buttons clearfix">
                                <button type="submit" class="btn btn-xlarge btn-clean-one">Submit</button>
                            </div>
                        </form>
                    </aside>
                </div>
                <aside class="col-md-4 blog-aside">

                
                     <div class="aside-widget">
                        <header>
                            <h3>最新发布</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for post in post_list %}
                                <li><a href="../single/{{ post.id }}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

<div class="aside-widget">
                        <header>
                            <h3>常用工具</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                {% for link in friend_link_list %}
                                <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>About</h3>

                      <p>该网站是Zhangbin的个人博客记录平台</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent Post</h3>
                        <ul class="clean-list">
                            <li><a href="">Clean - Responsive HTML5 Template</a></li>
                            <li><a href="">Responsive Pricing Table</a></li>
                            <li><a href="">Yellow HTML5 Template</a></li>
                            <li><a href="">Blackor Responsive Theme</a></li>
                            <li><a href="">Portfolio Bootstrap Template</a></li>
                            <li><a href="">Clean Slider Template</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis excepturi tempore explicabo.</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright 2015
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/modernizr.js"></script>

</body>
</html>